.navbar-text i {
    color: #777;
    padding-left: 0.3em;
}

.navbar-text a:hover i {
    color: black;
}

.navbar-text a:hover i.fa-facebook {
    color: #4c66a4;
}

.navbar-text a:hover i.fa-threads {
    color: #000000;
}

.profile-photo img {
    height: 124px;
    width: 124px;
}
