.headsup .picture {
    padding: 0 1em 0 0;
    float: left;
}

.headsup img {
    height: 111px;
    width: 111px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.thumbnail p:last-of-type {
    margin: 0;
}

#projects .thumbnail {
    margin-top: 1em;
}

.navbar-text i {
    color: #777;
    padding-right: 0.3em;
}

.navbar-text a:hover i {
    color: black;
}

.navbar-text a:hover i.fa-facebook-square {
    color: #4c66a4;
}

.navbar-text a:hover i.fa-twitter {
    color: #4099FF;
}

.navbar-text a:hover i.fa-google-plus-square {
    color: #D34836;
}
